*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

:root{
  --bg-color: #090516;
  --second-bg-color: #081b29;
  --text-color: #fff;
  --second-color: #c2bfd1;
  --main-color: #E4AF48;
  --other-color: #382D28;

  --h1-font: 5.5rem;
  --h2-font : 3.6rem;
  --p-font: 1rem;

}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
